<a href="https://colab.research.google.com/github/ShreyanshiJaiswal/Python_Learning_log/blob/main/Python_day_1%2C2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("hello world");

"""Declaring Variables"""

a = "Shreyanshi Jaiswal"
b = 25
c = 5.3
d = False
print(type(a))
print(type(b))
print(type(c))
print(type(d));

hello world
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

Here i learnt how to declare variables for each type

In [ ]:
"""a = "10"
   b = 10
   print(a+b);------- this will through an error """

a = "10"
b = 10
print(a+str(b));

1010

Since we are trying to add a string and integer value it will firstly throw an error and we have to make sure that we have to convert the string into integer first to add a and b

In [ ]:
"""Mini Challenge 1!

Takes user input (e.g., name and age),
Prints their data type using type(),
Converts the age to integer, and
Prints: "Hello <name>, you are <age> years old."
"""

name = input("Enter your name: ")
age_str = input("Enter your age: ")

print(type(name))
print(type(age_str))

age_int = int(age_str)

print("Hello " + name + ", you are " + str(age_int) + " years old.")

Enter your name: Shreya Jaiswal
Enter your age: 31
<class 'str'>
<class 'str'>
Hello Shreya Jaiswal, you are 31 years old.

In [ ]:
"""Mini Challenge 2:

Take two inputs from the user:
The first input is a number as a string.
The second input is another number as a string.
Convert both to integers, add them, and print the result as:
"Sum of the two numbers is <sum>" """

firstnum_str = input("Enter first number: ")
secondnum_str = input("Enter second number: ")

firstnum_int = int(firstnum_str)
secondnum_int = int(secondnum_str)

print("Sum of the two numbers is " + str(firstnum_int + secondnum_int));

Enter first number: 34
Enter second number: 90
Sum of the two numbers is 124

In [ ]:
""" Mini Challenge 3:

Ask for the user's height in centimeters (input as a string).
Convert it to a float.
Convert it to meters (divide by 100).
Print: "Your height is <height_in_meters> meters" """

height_str = input("Enter your height in cm: ")
height_float =float(height_str)
height_meters = height_float/100
print("Your height is " + str(height_meters) + " meters");

Enter your height in cm: 990
Your height is 9.9 meters

#DAY 2 OPERATORS IN PYTHON

In [ ]:
# 🔢 Arithmetic Operator Challenge
# Take two numbers from the user as input.
# Print their sum, difference, product, and division result.
# Also print their floor division and modulus.
# Example output:
# Sum: 15
# Difference: 5
# Product: 50
# Division: 2.5
# Floor Division: 2
# Modulus: 0

first_num = input("Enter First Number: ")
second_num = input("Enter Second Number: ")
print("Sum: " + str(int(first_num)+int(second_num)))
print("Difference: " + str(int(first_num)-int(second_num)))
print("Product: " + str(int(first_num)*int(second_num)))
print("Division: " + str(int(first_num)/int(second_num)))
print("Floor Division: " + str(int(first_num)//int(second_num)))
print("Modulus: " + str(int(first_num)%int(second_num)));

Enter First Number: 2
Enter Second Number: 3
Sum: 5
Difference: -1
Product: 6
Division: 0.6666666666666666
Floor Division: 0
Modulus: 2

In [ ]:
# 🔢 Arithmetic Operator Challenge (No if-else)
# Ask the user to enter two numbers.
# Store them as variables num1 and num2.
# Print the results of:
# - num1 + num2
# - num1 - num2
# - num1 * num2
# - num1 / num2
# - num1 // num2
# - num1 % num2
# - num1 raised to the power of num2 (use **)

num1 = int(input("Enter First Number: "))
num2 = int(input("Enter Second Number: "))
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)
print(num1 ** num2);

Enter First Number: 4
Enter Second Number: 8
12
-4
32
0.5
0
4
65536

In [ ]:
# 🟰 Comparison Operator Challenge (No if-else)
# Ask the user to enter two numbers: x and y.
# Print the result of each of these comparisons:
# - x == y
# - x != y
# - x > y
# - x < y
# - x >= y
# - x <= y
# Each print statement will return either True or False.

x = int(input("Enter First Number: "))
y = int(input("Enter Second Number: "))
print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x<=y);

Enter First Number: 84
Enter Second Number: 42
False
True
True
False
True
False

In [ ]:
# 🔁 Logical Operator Challenge (No if-else)
# Create three boolean variables:
# a = True
# b = False
# c = True
# Print the results of the following:
# - a and b
# - a or b
# - not c
# - a and c
# - b or c

a = True
b = False
c = True
print(a and b)
print(a or b)
print(not c)
print(a and c)
print(b or c);

False
True
False
True
True

In [ ]:
# ✍️ Assignment Operator Challenge (No if-else)
# Start with a variable count = 5
# Use the following operations step by step:
# - count += 3
# - count *= 2
# - count -= 4
# - count //= 2
# After all steps, print the final value of count.

count = 5
count += 3
count *= 2
count -= 4
count //= 2
print(count);

6