<a href="https://colab.research.google.com/github/ShreyanshiJaiswal/Python_Learning_log/blob/main/Python/Python_Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# --------------------------------------------
# ðŸ§ª PRACTICE QUESTIONS - PYTHON FUNCTIONS
# --------------------------------------------

# 1. Write a function that prints "Welcome to Python functions!"

# 2. Write a function that takes your name as input and prints "Hello, <your name>!"

# 3. Write a function that takes two numbers and returns their sum.

# 4. Write a function that takes two numbers and returns their difference.

# 5. Write a function that takes your age and prints whether you are eligible to vote (age >= 18).

# 6. Write a function that returns the square of a number.

# 7. Write a function that returns the cube of a number.

# 8. Write a function with default parameter: It should take a name (default to "Friend") and print "Good morning, <name>!"

# 9. Write a function that takes a number and checks if it is even or odd.

# 10. Write a function that takes a number and returns True if it's positive, else False.

# --------------------------------------------
# ðŸš€ BONUS CHALLENGES
# --------------------------------------------

# 11. Write a function that takes three numbers and returns the greatest.

# 12. Write a function that takes a string and returns the number of characters in it.

# 13. Write a function that takes a number and returns the factorial of it.

# 14. Write a function that takes a list of numbers and returns the sum.

# 15. Write a function that takes a list and returns the largest number in it.

# --------------------------------------------

In [ ]:
def greet():
    print("Welcome to Python functions!")

greet()

Welcome to Python functions!

In [ ]:
def name(fname):
    print("Hello",fname)
name("Shreyanshi")

Hello Shreyanshi

In [ ]:
def sum(a,b):
    return a+b
x=sum(5,4)
print (x)

9

In [ ]:
def dif(a,b):
    return a-b
x=dif(5,4)
print (x)

1

In [ ]:
def voting_eligilbility_criteria(age):
  if age>=18:
    print("You are eligible to vote")
  else:
    print("You are not eligible to vote");
voting_eligilbility_criteria(34)

You are eligible to vote

In [ ]:
def squ(x):
    return x*x
x=squ(9)
print(x)

81

In [ ]:
def cub(x):
    return x*x*x
x=cub(9)
print(x)

729

In [ ]:
def greet(name="Friend"):
    print(f"Good morning, {name}!")

# Example usage with default parameter
greet()

# Example usage with a different name
greet("Shreyanshi")

Good morning, Friend!
Good morning, Shreyanshi!

In [ ]:
def num_test(x):
   if x%2==0:
    print("Number is even")
   else:
    print("Number is odd")
num_test(10)

Number is even

In [ ]:
def num_test(x):
   if x>0:
    print("Number is positive")
   else:
    print("Number is negative")
num_test(10)

Number is positive

In [ ]:
def num(a,b,c):
    return max(a,b,c)
num1 = num(4,5,6)
print(num1)

6

In [ ]:
def name(fname):
  return len(fname)
s = name("Shreyanshi")
print(s)

10

In [ ]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

# Example usage:
number = 5
print(f"The factorial of {number} is {factorial(number)}")

The factorial of 5 is 120

In [ ]:
def lists(num):
  return sum(num)
x =[7,8,9,11,45]
print(lists(x))

80

In [ ]:
def lists(num):
  return max(num)
x =[7,8,9,11,45]
print(lists(x))

45