<a href="https://colab.research.google.com/github/ShreyanshiJaiswal/Python_Learning_log/blob/main/Python/Python_Day_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Create a list of 5 fruits and print the third fruit in the list.

# 2. Add a new fruit to the end of the list using append() and print the updated list.

# 3. Insert a fruit at the second position in the list using insert() and print the list.

# 4. Remove the last fruit from the list using pop() and print the updated list.

# 5. Remove a specific fruit by name using remove() and print the updated list.

# 6. Sort the list alphabetically using sort() and print the result.

# 7. Reverse the order of the list using reverse() and print it.

# 8. Create a list of 10 numbers. Use slicing to print:
#    - First 5 numbers
#    - Last 3 numbers
#    - Every second number in the list

# 9. Find the length of the list using len().

# 10. Check if the number 7 is present in the list using the `in` keyword.

# 11. Create a tuple of 4 subjects. Try to change the second subject (should raise an error).

# 12. Convert a list to a tuple using tuple() function and print the result.

# 13. Create a tuple of numbers and count how many times a specific number appears.

# 14. Find the index of a specific element in a tuple using index().

# 15. Loop through a list using a for loop and print each item with its index.

In [ ]:
colour_list=['guava','banana','apple','pineapple','kiwi']
print(colour_list[2]);

apple

In [ ]:
colour_list=['guava','banana','apple','pineapple','kiwi']
colour_list.append('dragonfruit')
print(colour_list);

['guava', 'banana', 'apple', 'pineapple', 'kiwi', 'dragonfruit']

In [ ]:
colour_list=['guava','banana','apple','pineapple','kiwi']
colour_list.insert(1,'dragonfruit')
print(colour_list);

['guava', 'dragonfruit', 'banana', 'apple', 'pineapple', 'kiwi']

In [ ]:
colour_list=['guava','banana','apple','pineapple','kiwi']
colour_list.pop(4)
print(colour_list);

['guava', 'banana', 'apple', 'pineapple']

In [ ]:
colour_list=['guava','banana','apple','pineapple','kiwi']
colour_list.remove('guava')
print(colour_list);

['banana', 'apple', 'pineapple', 'kiwi']

In [ ]:
colour_list=['guava','banana','apple','pineapple','kiwi']
colour_list.sort()
print(colour_list);

['apple', 'banana', 'guava', 'kiwi', 'pineapple']

In [ ]:
colour_list=['guava','banana','apple','pineapple','kiwi']
colour_list.sort(reverse = True)
print(colour_list);

['pineapple', 'kiwi', 'guava', 'banana', 'apple']

In [ ]:
num_list=[1,2,3,4,5,6,7,8,9,10]
print(num_list[0:5]);

[1, 2, 3, 4, 5]

In [ ]:
num_list=[1,2,3,4,5,6,7,8,9,10]
print(num_list[-3:]);

[8, 9, 10]

In [ ]:
num_list=[1,2,3,4,5,6,7,8,9,10]
print(num_list[0::2]);

[1, 3, 5, 7, 9]

In [ ]:
num_list=[1,2,3,4,5,6,7,8,9,10]
print(len(num_list));

10

In [ ]:
num_list=[1,2,3,4,5,6,7,8,9,10]
if 7 in num_list:
     print('true')
else:
     print("no not there");

true

In [ ]:
sub_name =('Math','Physics','Biology','Chemistry')
print(sub_name);

('Math', 'Physics', 'Biology', 'Chemistry')

In [ ]:
sub_name =('Math','Physics','Biology','Chemistry')
sub_name.append()
print(sub_name);

AttributeError: 'tuple' object has no attribute 'append'

Shows error as tuples are immutable

In [ ]:
num_list=[1,2,3,4,5,6,7,8,9,10]
num_tuple = tuple(num_list)
print(num_tuple);

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
num_tuple =(2,2,2,8,8,8,9,9,9,9,9)
print(num_tuple.count(9));

5

In [ ]:
num_tuple =(2,2,2,8,8,8,9,9,9,9,9)
print(num_tuple.index(2));

0

In [ ]:
colours =['green','yellow','orange','purple']
for index, color in enumerate(colours):
    print(index, color);

0 green
1 yellow
2 orange
3 purple