<a href="https://colab.research.google.com/github/ShreyanshiJaiswal/Python_Learning_log/blob/main/Python/Python_Day_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q1: Create a set with your 5 favorite fruits and print it.

# Q2: Create a set of numbers from 1 to 5, and add the number 6 to it.

# Q3: Create a set with some colors. Try adding a duplicate color and print the set to see what happens.

# Q4: Remove an element from a set using the remove() method.

# Q5: Remove an element from a set using the discard() method (try discarding an element that is not in the set).

# Q6: Create two sets:
#     set1 = {1, 2, 3, 4}
#     set2 = {3, 4, 5, 6}
#     Find the union of these two sets.

# Q7: Find the intersection of set1 and set2 from Q6.

# Q8: Find the difference between set1 and set2 (elements in set1 but not in set2).

# Q9: Find the symmetric difference between set1 and set2 (elements in either set, but not in both).

# Q10: Check if set1 is a subset of set2.

# Q11: Check if set1 is a superset of set2.

# Q12: Create an empty set and check its type.

# Q13: Convert the list [1, 2, 2, 3, 4, 4, 5] into a set and print it (notice what happens to duplicates).

# Q14: Use a for loop to print each element in a set.

# Q15: Create two sets:
#      even_numbers = {2, 4, 6, 8}
#      prime_numbers = {2, 3, 5, 7}
#      Find the common numbers between the two sets.

In [ ]:
fruits={"Apple","Banana","Mango","Grapes","Orange"}
print(fruits)

{'Apple', 'Grapes', 'Banana', 'Mango', 'Orange'}

In [ ]:
numbers={1,2,3,4,5}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}

In [ ]:
colours={"Red","Green","Blue","Yellow"}
colours.add("Red")
print(colours)

{'Yellow', 'Red', 'Blue', 'Green'}

In [ ]:
numbers={1,2,3,4,5}
numbers.remove(2)
print(numbers)

{1, 3, 4, 5}

In [ ]:
numbers={1,2,3,4,5}
numbers.discard(6)
print(numbers)

{1, 2, 3, 4, 5}

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6}

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set3 = set1.difference(set2)
print(set3)

{1, 2}

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set3 = set1.symmetric_difference(set2)
print(set3)

{1, 2, 5, 6}

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set3 = set1.issubset(set2)
print(set3)

False

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4}
set3 = set2.issubset(set1)
print(set3)

True

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4}
set3 = set1.issuperset(set2)
print(set3)

True

In [ ]:
set1 = set()
print(type(set1))

<class 'set'>

In [ ]:
lists =[1, 2, 2, 3, 4, 4, 5]
sets = set(lists)
print(sets)

{1, 2, 3, 4, 5}

In [ ]:
set1 = {1, 2, 3, 4}
for s in set1:
  print(s);

1
2
3
4

In [ ]:
even_numbers = {2, 4, 6, 8}
prime_numbers = {2, 3, 5, 7}
set3 = even_numbers.intersection(prime_numbers)
print(set3)

{2}